{% extends 'base.html.twig' %}

{% block content %}
    <div class="main-content bg-white mt-5">
        <div class="category-card card mt-3 p-0 bg-dark">
            <div class="card-body">
                <h5 class="card-title category-title w-100">Физическое развитие</h5>
                <div class="row ml-0">

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

                <a href="#" class="btn see-all m-0 p-0 mt-3">See all</a>
            </div>
        </div>

        <div class="category-card card mt-3 p-0 bg-dark">
            <div class="card-body">
                <h5 class="card-title category-title w-100">Ментальное развитие</h5>
                <div class="row ml-0">

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="actor-link" href="actor.html">
                        <div class="actor-col">
                            <div class="card actor-card mt-2">
                                <img src="sources/images/smisenko.png" class="card-img-top" alt="...">
                                <div class="card-body m-0">
                                    <h5 class="card-title actor-name text-left">Валерий Жмышенко</h5>
                                    <p class="card-text actor-info">body, physic</p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

                <a href="#" class="btn see-all m-0 p-0 mt-3">See all</a>
            </div>
        </div>



    </div>
{% endblock %}

